{
  "extends": ["treemmett/next"],
  "overrides": [
    {
      "files": ["src/scripts/**"],
      "rules": {
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
      }
    }
  ],
  "rules": {
    "consistent-return": 0,
    "react/function-component-definition": 0
  }
}
