{
  "extends": ["treemmett/next"],
  "overrides": [
    {
      "files": ["src/scripts/**"],
      "rules": {
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
      }
    }
  ]
}
