@use './screen';

// stylelint-disable property-no-unknown, order/properties-order
:export {
  sm: screen.$sm;
  md: screen.$md;
  lg: screen.$lg;
  xl: screen.$xl;
}
// stylelint-enable property-no-unknown, order/properties-order
