// Small tablets and large smartphones (landscape view)
$sm-min: 576px;
@mixin sm {
  @media (min-width: $sm-min) {
    @content;
  }
}

// Small tablets (portrait view)
$md-min: 768px;
@mixin md {
  @media (min-width: $md-min) {
    @content;
  }
}

// Tablets and small desktops
$lg-min: 992px;
@mixin lg {
  @media (min-width: $lg-min) {
    @content;
  }
}

// Large tablets and desktops
$xl-min: 1200px;
@mixin xl {
  @media (min-width: $lg-min) {
    @content;
  }
}
