@use 'sass:color';

$primary: #ab2a61;
$background: #ecf8f8;
$text: #1f271b;
$text-light: $background;
$background-dark: color.adjust($text, $lightness: -5%);

@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin theme {
  border-color: $text;
  background-color: $background;
  color: $text;

  @include dark-mode {
    border-color: $text-light;
    background-color: $background-dark;
    color: $text-light;
  }
}

@mixin inverted-theme {
  border-color: $text-light;
  background-color: $background-dark;
  color: $text-light;

  @include dark-mode {
    border-color: $text;
    background-color: $background;
    color: $text;
  }
}

@mixin border {
  border: 1px solid $text;
  border-radius: 1rem / 1.2rem;
}
