@use '../styles/colors';

$width: 25rem;

.main,
.backdrop {
  color: colors.$textLight;
  background-color: rgba(colors.$backgroundDark, 70%);
  padding: 5rem 2rem;
  position: fixed;
  font-size: 2rem;
  width: $width;
  height: 100%;
  z-index: 10;
  left: 0;
  top: 0;
  pointer-events: none;

  &.backdrop {
    background-color: colors.$backgroundDark;
    z-index: 1;
  }

  @media (prefers-color-scheme: dark) {
    background-color: rgba(colors.$background, 70%);
  }

  @supports (backdrop-filter: blur()) {
    background-color: rgba(colors.$backgroundDark, 5%);
    backdrop-filter: blur(18px);

    &.backdrop {
      background-color: colors.$backgroundDark;
    }

    @media (prefers-color-scheme: dark) {
      background-color: rgba(colors.$background, 5%);

      &.backdrop {
        background-color: colors.$background;
      }
    }
  }

  h1 {
    margin: 0;
  }
}
