@use '../styles/colors';

$width: 25rem;
$position: 5rem;

.main {
  background-color: rgba(colors.$backgroundDark, 0.85);
  color: colors.$textLight;
  padding: 5rem 2rem;
  position: absolute;
  font-size: 2rem;
  width: $width;
  height: 100%;
  z-index: 10;
  left: $position;
  pointer-events: none;
  backdrop-filter: blur(10px);

  h1 {
    margin: 0;
  }
}
