@use './About.module';

$padding: 2rem;

.gallery {
  grid-area: gallery;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
  overflow-y: auto;
  padding: $padding;
  padding-left: calc($padding + About.$width + About.$position);
}
