@use '../pages/home.module.scss';

.post {
  position: relative;
  z-index: 10;
  flex: 0 auto;
  border-radius: 8px;
}

.photo {
  height: 40rem;
  margin-right: home.$padding;
  border-radius: 8px;
  box-shadow: 0 0 38px 2px rgb(0 0 0 / 46%);
}
