@use '../pages/home.module.scss';

.post {
  position: relative;
  z-index: 10;
  flex: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 38px 2px rgba(0, 0, 0, 46%);
}

.photo {
  height: 40rem;
  margin-right: home.$padding;
  border-radius: inherit;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  opacity: 1;
  transition: opacity 0.4s ease;

  &.loaded {
    opacity: 0;
  }
}
