@use '../components/About.module';
@use '../styles/screen';

$padding: 6rem;

.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: $padding 2rem;
  padding-top: calc(calc($padding * 2.5) + About.$padding-top);

  @include screen.md {
    flex-direction: row;
    padding: $padding;
    padding-right: 0;
    padding-left: calc($padding + About.$width - 1rem);
  }
}
