@use '../components/About.module';
@use '../styles/screen';

$padding: 4rem;

.container {
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: $padding;
  padding-top: calc($padding + About.$height + About.$padding-top);

  @include screen.md {
    flex-direction: row;
    padding-left: calc($padding + About.$width);
  }
}
