.page {
  width: 100%;
  max-width: 70rem;
  padding: 2rem;
  margin: auto;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
  }

  main {
    display: grid;
    gap: 2rem;
    grid-template-areas: 'about .';
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1fr;
  }

  section {
    & + section {
      margin-top: 4rem;
    }
  }

  svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
  }

  h5 {
    display: flex;
    align-items: center;

    svg {
      margin-right: 0.75rem;
    }
  }
}

.work {
  h5 {
    justify-content: flex-end;
  }
}
