@use '../styles/shared';
@use '../styles/screen';

.timeline {
  position: relative;
}

.map {
  height: 100vh;

  :global {
    .mapboxgl-ctrl-bottom-left {
      transform: scale(0.75) translate(-15%, 10%);
    }

    .mapboxgl-ctrl-logo {
      pointer-events: none;
    }
  }
}

.list {
  @include shared.inverted-theme;

  position: absolute;
  bottom: 0;
  overflow: auto;
  width: 100%;
  padding: 1rem 2rem;
  white-space: nowrap;

  .country {
    display: inline-block;
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  @include screen.md {
    @include shared.border;

    top: 2rem;
    bottom: unset;
    left: 2rem;
    width: auto;
    max-height: calc(100vh - 4rem);

    .country {
      display: block;
      margin: 0 !important;
    }
  }
}
