@use '../styles/shared';
@use '../styles/screen';

.timeline {
  position: relative;
}

.map {
  height: 100vh;

  :global {
    .mapboxgl-ctrl-bottom-left {
      transform: scale(0.75) translate(-15%, 10%);
    }

    .mapboxgl-ctrl-logo {
      pointer-events: none;
    }
  }
}

.list {
  @include shared.border;
  @include shared.inverted-theme;

  position: absolute;
  bottom: 1rem;
  left: 1rem;
  overflow: auto;
  max-height: 40rem;
  padding: 1rem 2rem;

  @include screen.md {
    top: 2rem;
    bottom: unset;
    left: 2rem;
    width: auto;
  }
}
