.timeline {
  position: relative;
}

.map {
  height: 100vh;

  :global {
    .mapboxgl-ctrl-bottom-left {
      transform: scale(0.75) translate(-15%, 10%);
    }

    .mapboxgl-ctrl-logo {
      pointer-events: none;
    }
  }
}

.button {
  position: fixed;
  z-index: 10;
  right: 2rem;
  bottom: 2rem;
}
