@use '../styles/screen';
@use '../styles/shared';

$width: 25rem;

.about {
  position: fixed;
  z-index: 10;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  font-family: 'Bad Script', cursive;
  font-size: 1.5rem;

  @include screen.md {
    @include shared.inverted-theme;

    right: unset;
    left: 0;
    display: flex;
    width: $width;
    flex-direction: column;
    padding: 5rem 2rem;
    font-size: 2rem;
  }
}

.header {
  @include shared.inverted-theme;

  display: flex;
  align-items: center;

  & > * {
    flex-grow: 0;
  }
}

.menu-toggle {
  @include screen.md {
    display: none;
  }
}

.title {
  display: inline-block;
  margin: 0;
  margin-right: 2rem;

  @include screen.md {
    display: block;
  }
}

.navigation {
  @include shared.inverted-theme;

  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 0.3s ease;

  @include screen.md {
    transform: translateX(0);
  }

  &.visible {
    transform: translateX(0);
  }
}

.main {
  padding: 2rem 1rem;
  margin-top: auto;

  @include screen.md {
    padding: 1rem 0;
  }
}

.social {
  display: flex;
  justify-content: space-around;

  @include screen.md {
    margin-top: auto;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;

  @include screen.md {
    width: calc(100% - $width);
    height: 100vh;
    flex-direction: row;
    padding-top: 0;
    margin-left: $width;
  }
}
