@use '../styles/screen';
@use '../styles/shared';

$width: 25rem;
$padding-top: 2rem;

.main,
.backdrop {
  @include shared.inverted-theme;

  position: fixed;
  z-index: 10;
  top: $padding-top;
  left: 0;
  width: 100%;
  padding: 2rem;
  font-family: 'Bad Script', cursive;
  font-size: 1.5rem;

  @include screen.md {
    top: 0;
    display: flex;
    width: $width;
    height: 100%;
    flex-direction: column;
    padding: 5rem 2rem;
    font-size: 2rem;
  }

  &.backdrop {
    z-index: 1;
  }

  @supports (backdrop-filter: blur()) {
    &:not(.backdrop) {
      backdrop-filter: blur(18px);
      background-color: rgba(shared.$background-dark, 5%);

      @media (prefers-color-scheme: dark) {
        background-color: rgba(shared.$background, 5%);
      }
    }
  }

  h2 {
    margin: 0;
  }
}

.social {
  display: flex;
  justify-content: space-around;

  @include screen.md {
    margin-top: auto;
  }
}
