@use '../styles/screen';
@use '../styles/shared';

$width: 25rem;

.about {
  position: fixed;
  z-index: 10;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  font-size: 1.5rem;
  pointer-events: none;

  @include screen.md {
    right: unset;
    left: 0;
    display: flex;
    width: $width;
    flex-direction: column;
    padding: 5rem 2rem;
    backdrop-filter: blur(1rem);
    font-size: 2rem;
  }
}

.header {
  @include shared.inverted-theme;

  display: flex;
  align-items: center;
  box-shadow: 0 0 38px 2px rgba(0, 0, 0, 46%);
  pointer-events: all;

  @include screen.md {
    background-color: transparent;
    box-shadow: unset;
  }

  & > * {
    flex-grow: 0;
  }
}

.menu-toggle {
  @include screen.md {
    display: none;
  }
}

.title {
  display: inline-block;
  margin: 0;
  margin-right: 2rem;
  font-family: 'Bad Script', cursive;

  @include screen.md {
    display: block;
  }
}

.navigation {
  @include shared.inverted-theme;

  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  backdrop-filter: blur(1rem);
  background-color: transparent !important;
  pointer-events: all;
  transform: translateX(-100%);
  transition: transform 0.3s ease;

  @include screen.md {
    backdrop-filter: unset;
    transform: translateX(0);
  }

  .links {
    a {
      display: block;
      margin-bottom: 2rem;
    }
  }

  &.visible {
    transform: translateX(0);
  }
}

.main {
  padding: 2rem 1rem;
  margin-top: auto;

  @include screen.md {
    padding: 1rem 0;
  }
}

.social {
  display: flex;
  justify-content: space-around;

  @include screen.md {
    margin-top: auto;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;

  @include screen.md {
    width: calc(100% - $width);
    height: 100vh;
    flex-direction: row;
    padding-top: 0;
    margin-left: $width;
  }
}

.backdrop {
  @include shared.inverted-theme;

  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  transition: right 0.3s ease;

  &.open {
    right: 0;
  }

  @include screen.md {
    left: 0;
    width: $width;
  }
}
