@use 'sass:color';
@use '../styles/shared';

@mixin color($background-color: shared.$background-dark, $scale: 1) {
  background-color: $background-color;

  @media (hover: hover) {
    &:hover {
      background-color: color.adjust($background-color, $lightness: -5% * $scale);
    }
  }

  &:active {
    background-color: color.adjust($background-color, $lightness: -10% * $scale);
  }

  &:disabled {
    background-color: color.adjust($background-color, $blackness: 100% * $scale);

    &.primary {
      background-color: color.grayscale($background-color);
    }
  }
}

.button {
  @include shared.border;
  @include color;

  position: relative;
  padding: 0.8rem 1rem;
  border-width: 0;
  color: shared.$text-light;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  transition: background-color 0.2s ease-out;

  @include shared.dark-mode {
    @include color(shared.$background);

    color: shared.$text;
  }

  &.inverted {
    @include color(shared.$background);

    color: shared.$text;

    @include shared.dark-mode {
      @include color;

      color: shared.$text-light;
    }
  }

  &.primary {
    color: #fff;
    @include color(shared.$primary);
  }

  &.small {
    padding: 0.25rem;
  }

  &:disabled {
    cursor: default;
  }
}
