@use '../styles/shared';

.gps {
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  svg {
    height: 1.5rem;
  }
}

.form {
  @include shared.glass;

  position: fixed;
  right: 2rem;
  bottom: 2rem;
  padding: 1rem;
  border-radius: shared.$border-radius;

  & > * + * {
    margin-top: 1rem;
  }

  button {
    width: 100%;
  }
}
