@use '../styles/shared';

.wrapper {
  position: relative;
  display: block;
}

.input {
  @include shared.glass;

  width: 100%;
  padding: 0.75rem 1rem;
  border-width: 1px;
  border-style: solid;
  border-radius: shared.$border-radius;
  appearance: none;
  font-family: inherit;
  font-size: 16px;
  outline: none;

  @include shared.dark-mode {
    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }
}

.label {
  height: 1rem;
  margin-bottom: 0.5rem;
  pointer-events: none;
  user-select: none;
}
