@use '../styles/screen';
@use '../styles/shared';

.light-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;

  button {
    display: block;
    width: 100%;
    margin-top: 1rem;
  }

  &.panel-open {
    justify-content: start;

    @include screen.md {
      flex-direction: row;
      justify-content: center;
    }
  }
}

.photo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  .img {
    border-radius: 8px;
    box-shadow: 0 0 38px 2px rgba(0, 0, 0, 46%);
    box-shadow: shared.$shadow;
    pointer-events: all;
  }
}
