$padding: 6rem;

.light-box {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 4rem;
  background-color: rgba(0, 0, 0, 0%);
  pointer-events: none;
  transition: background-color 0.2s ease;

  &.open {
    background-color: rgba(0, 0, 0, 80%);
    pointer-events: all;
  }
}

.photo {
  position: fixed;
  border-radius: 8px;
  box-shadow: 0 0 38px 2px rgba(0, 0, 0, 46%);
  opacity: 1;
  transition: opacity 0.3s ease;

  &.on-gallery {
    opacity: 0;
  }

  &.animating {
    transition: width 0.3s ease, height 0.3s ease, top 0.3s ease, left 0.3s ease, opacity 0.3s ease;
  }
}
