@use 'sass:color';
@use '../styles/shared';

$height: 4rem;

.nav {
  @include shared.theme;

  position: sticky;
  z-index: 0;
  top: 0;
  display: flex;
  width: 100vw;
  align-items: center;
  padding: 1rem;
  background-color: color.adjust(shared.$background, $alpha: -0.2);
  overflow-x: auto;

  @include shared.dark-mode {
    background-color: color.adjust(shared.$background-dark, $alpha: -0.2);
  }

  h1 {
    margin: 0;
    margin-right: 1rem;
  }

  nav {
    margin-left: auto;
  }

  a {
    margin-right: 1rem;
  }

  button {
    display: inline;
    padding: 0;
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
}

.edit {
  display: block;
  margin-right: 1rem;
}
