@use '../pages/home.module';
@use '../styles/screen';

.post-wrapper {
  position: relative;
  width: calc(100% - 1rem);
  flex: 0 0 auto;

  @include screen.md {
    padding-right: home.$padding - 1rem;
  }
}

.post {
  position: relative;
  z-index: 10;
  width: 100%;
  margin-bottom: home.$padding;
  opacity: 1;

  &.displayed {
    opacity: 0;
  }

  @include screen.md {
    margin-right: home.$padding - 1rem;
    margin-bottom: 0;
  }
}

.image-wrapper {
  border-radius: 8px;
  box-shadow: 0 0 38px 2px rgba(0, 0, 0, 46%);
  transition: width 0.15s ease, height 0.15s ease;
}

.photo {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: inherit;
  filter: blur(0);
  opacity: 1;
  transition: filter 1s ease, opacity 1s ease;

  &.phase {
    filter: blur(5px);
    opacity: 0;
  }
}

.under {
  display: flex;
  font-family: 'Bad Script', cursive;

  .date {
    margin-left: auto;
  }
}
