@use '../pages/home.module.scss';

.post {
  position: relative;
  z-index: 10;
  flex: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 38px 2px rgba(0, 0, 0, 46%);
  transition: width 0.15s ease, height 0.15s ease;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  margin-right: home.$padding;
  border-radius: inherit;
  filter: blur(0);
  opacity: 1;
  transition: filter 1s ease, opacity 1s ease;

  &.phase {
    filter: blur(5px);
    opacity: 0;
  }
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  opacity: 1;
  transition: opacity 0.4s ease;

  &.loaded {
    opacity: 0;
  }
}
