@use '../pages/home.module';
@use '../styles/screen';

.post {
  position: relative;
  z-index: 10;
  flex: 0 0 auto;
  margin-bottom: home.$padding;
  opacity: 1;

  &.displayed {
    opacity: 0;
  }

  @include screen.md {
    margin-right: home.$padding;
    margin-bottom: 0;
  }
}

.image-wrapper {
  border-radius: 8px;
  box-shadow: 0 0 38px 2px rgba(0, 0, 0, 46%);
  transition: width 0.15s ease, height 0.15s ease;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  filter: blur(0);
  opacity: 1;
  transition: filter 1s ease, opacity 1s ease;

  &.phase {
    filter: blur(5px);
    opacity: 0;
  }
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  opacity: 1;
  transition: opacity 0.4s ease;

  &.loaded {
    opacity: 0;
  }
}

.under {
  display: flex;
  font-family: 'Bad Script', cursive;

  .date {
    margin-left: auto;
  }
}
