@use '../styles/shared';

.modal {
  height: 100dvh;
  overflow-y: auto;
}

.form {
  position: relative;
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;

  label {
    margin-bottom: 1rem;
  }

  button {
    width: 100%;
  }

  section {
    margin-bottom: 1rem;
  }
}

.quadrants {
  @include shared.glass(0);

  position: relative;
  height: 10rem;
  border-width: 1px;
  border-style: solid;
  border-radius: shared.$border-radius;

  &.disabled {
    opacity: 0.3;
  }

  .checkbox {
    position: absolute;
    margin: 0;

    label {
      margin-left: 0.25rem;
    }

    &.tl,
    &.tr {
      top: 0.5rem;
    }

    &.bl,
    &.br {
      bottom: 0.5rem;
    }

    &.tl,
    &.bl {
      left: 0.5rem;
      flex-direction: row-reverse;
    }

    &.tr,
    &.br {
      right: 0.5rem;

      label {
        margin-right: 0.25rem;
        margin-left: 0;
      }
    }
  }
}
