@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lato');

html, body{
  height:100vh;
  padding:0;
  margin:0;
  font-family:Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nav{
  position:fixed;
  padding:1em;
  background:rgba(51,51,51,1);
  transition:background-color 0.2s ease-out;
  width:100%;
  z-index:1;
  display:inline-block;
  box-sizing:border-box;
}

.nav.transparent{
  background:rgba(51,51,51,0.15);
}

#menuToggle{
  width:1.5em;
  height:1.5em;
  stroke:#fff;
  display:inline-block;
  cursor:pointer;
  transition:transform 0.3s ease-out;
  float:right;
}

.banner{
  position:relative;
  height:100%;
  width:100%;
  color:#fff;
  background-image:url('/bg.jpg');
  background-position:center;
  background-attachment:fixed;
  background-size:cover;
  background-repeat:no-repeat;
  box-sizing:border-box;
  transition:background-position 0s linear;
  image-rendering:-webkit-optimize-contrast;
}

.anchor{
  position:absolute;
  height:3.5em;
  width:3.5em;
  margin:auto;
  left:0;
  right:0;
  bottom:2em;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:background-color 0.3s, transform 0.2s;
}

@keyframes anchorHover{
  0%{transform:translateY(3px);}
  50%{transform:translateY(-1px);}
  100%{transform:translateY(3px);}
}

.anchor svg{
  width:2em;
  height:2em;
  stroke:#fff;
  transition:all 0.3s 3;
  animation:anchorHover 2s infinite ease-in-out;
}

.anchor.act{
  cursor:pointer;
}

.anchor.act:hover{
  background:rgba(255,255,255,0.4);
}

.anchor.act:active{
  background:rgba(255,255,255,0.6);
}

section{
  padding:50px 85px;
}

.title{
  font-size:40px;
  font-family:Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:700;
  text-transform:uppercase;
  text-align:center;
}

.article{
  margin:50px 0;
}

.projects{
  display:flex;
  flex-wrap:wrap;
  width:100%;
  padding-top:50px;
}

.project{
  position:relative;
  height:50px;
  width:100%;
  background:black;
  flex-shrink:0;
  margin-bottom:20px;
  align-items:stretch;
}

@media screen and (min-width:650px) and (max-width:900px){
  .project{
    width:calc(50% - 10px);
  }
  .project:not(:nth-child(2n)){
    margin-right:20px;
  }
}

@media screen and (min-width:900px) and (max-width:1200px){
  .project{
    width:calc(33.33% - 10px);
  }
  .project:not(:nth-child(3n)){
    margin-right:15px;
  }
}

@media screen and (min-width:1200px) and (max-width:1500px){
  .project{
    width:calc(25% - 10px);
  }
  .project:not(:nth-child(4n)){
    margin-right:calc(40px / 3);
  }
}

@media screen and (min-width:1500px){
  .project{
    width:calc(20% - 10px);
  }
  .project:not(:nth-child(5n)){
    margin-right:12.5px;
  }
}
