html, body{
  height:100vh;
  padding:0;
  margin:0;
}

#banner{
  position:relative;
  height:100%;
  width:100%;
  color:#fff;
  background-image:url('/bg.jpg');
  background-position:center;
  background-attachment:fixed;
  background-size:cover;
  background-repeat:no-repeat;
  padding:5em;
  text-shadow:0.5px 0.5px 0.25px black;
  box-sizing:border-box;
}

#banner .title{
  font-size:40px;
}

#nav{
  position:absolute;
  height:4em;
  width:4em;
  margin:auto;
  left:0;
  right:0;
  bottom:5em;
  border:2px solid #fff;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:background-color 0.3s, border-color 0.3s;
  cursor:pointer;
}

#nav svg{
  width:2em;
  height:2em;
  stroke:#fff;
  position:absolute;
  transition:all 0.3s;
}

#nav:hover{
  border-color:transparent;
  background:#fffa;
}

#nav:active{
  background:#fffc;
  border-color:transparent;
}

.article{
  height:100%;
}
