html, body{
  height:100vh;
  padding:0;
  margin:0;
}

.banner{
  position:relative;
  height:100%;
  width:100%;
  color:#fff;
  background-image:url('/bg.jpg');
  background-position:center;
  background-attachment:fixed;
  background-size:cover;
  background-repeat:no-repeat;
  box-sizing:border-box;
  transition:background-position 0s linear;
  image-rendering:-webkit-optimize-contrast;
}

.title{
  font-size:80px;
  display:inline-block;
  margin:40px 0 0 50px;
}

.anchor{
  position:absolute;
  height:3.5em;
  width:3.5em;
  margin:auto;
  left:0;
  right:0;
  bottom:2em;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:background-color 0.3s, transform 0.2s;
}

@keyframes anchorHover{
  0%{transform:translateY(3px);}
  50%{transform:translateY(-1px);}
  100%{transform:translateY(3px);}
}

.anchor svg{
  width:2em;
  height:2em;
  stroke:#fff;
  position:absolute;
  transition:all 0.3s 3;
  animation:anchorHover 2s infinite ease-in-out;
}

.anchor.act{
  cursor:pointer;
}

.anchor.act:hover{
  background:#fff5;
}

.anchor.act:active{
  background:#fff9;
}

.article{
  height:100%;
}
