@import url('https://fonts.googleapis.com/css?family=Lato');

html, body{
  height:100vh;
  padding:0;
  margin:0;
  font-family:Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:#eee;
}

canvas{
  width:100%;
  height:100vh;

  &#mesh{
    position:relative;
    background:transparent;
    z-index:1;
  }

  &#background{
    background:#222;
    position:fixed;
    z-index:-100;
  }
}

.banner{
  width:100%;
  height:100vh;
  overflow:hidden;

  .header{
    position:absolute;
    right:30px;
    top:25%;
    font-size:12vh;
    z-index:100;
    cursor:default;
    user-select:none;

    .under{
      height:4px;
      width:100%;
      position:absolute;
      bottom:0;

      .line{
        background:#eee;
        height:100%;
        margin-bottom:-4px;
        transition:margin 0.5s;
      }
    }
  }

  .soc{
    height:30px;
    position:absolute;
    right:0;
    bottom:0;
    z-index:2;
    padding:0 5px 5px 0;

    svg{
      position:relative;
      height:100%;
      stroke:#fff;
      fill:none;
      stroke-width:2;
      stroke-linecap:round;
      stroke-linejoin:round;
      cursor:pointer;
      margin-left:5px;
    }
  }
}

a{
  text-decoration:none;
  color:inherit;

  &:hover{
    text-decoration:underline;
  }
}

.notifications{
  position:fixed;
  z-index:101;
  bottom:0;
  left:0;
  display:flex;
  flex-direction:column-reverse;
  padding:20px;
  box-sizing:border-box;
  width:300px;

  .toast{
    width:100%;
    min-height:50px;
    padding:5px;
    border:1px solid #fff;
    border-radius:5px;
    box-sizing:border-box;
    background:#222;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    transition:margin-left 0.4s;

    &+.toast{
      margin-bottom:10px;
    }

    &.hidden{
      margin-left:-150%;
    }
  }
}
