@use 'sass:color';

$background: #ecf8f8;
$text: #1f271b;
$text-light: $background;
$background-dark: color.adjust($text, $lightness: -5%);

@mixin theme {
  border-color: $text;
  background-color: $background;
  color: $text;

  @media (prefers-color-scheme: dark) {
    border-color: $text-light;
    background-color: $background-dark;
    color: $text-light;
  }
}

@mixin inverted-theme {
  border-color: $text-light;
  background-color: $background-dark;
  color: $text-light;

  @media (prefers-color-scheme: dark) {
    border-color: $text;
    background-color: $background;
    color: $text;
  }
}
