@use './colors';
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

html,
body {
  color: colors.$text;
  background-color: colors.$background;
  padding: 0;
  margin: 0;
  font-family: 'Gowun Batang', serif;
  font-size: 16;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
