@use '../styles/shared';

.manager {
  @include shared.theme;

  position: fixed;
  z-index: 100;
  bottom: 1rem;
  left: 1rem;
  overflow: hidden;
  width: calc(100vw - 2rem);
  max-width: 30rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 38px 2px rgba(0, 0, 0, 46%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.collapse-button {
  @include shared.dark-theme;
}

.list {
  max-height: 15rem;
  border-color: inherit;
  overflow-y: auto;
  transition: max-height 0.2s ease;

  &.collapsed {
    max-height: 0;
  }
}

.item {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid;
  border-top-color: inherit;

  span {
    margin: 0.125rem;

    &.name {
      margin-left: auto;
    }
  }
}

.thumbnail {
  max-width: 2rem;
  max-height: 1.5rem;
  margin-right: 1rem;
}

.status {
  text-transform: capitalize;
}
